@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');


@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --font-savate: 'Savate', sans-serif;
  --color-chocolate: #86563c;
  --color-chocolate-dark: #310e08;
}